// .container {
//   height: 40vh;
//   display: flex;
// }
.home-page {
  height: 70vh;

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: var(--black);
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: var(--orange);
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: var(--orange);
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .s-button {
    width: 9.5rem;
    height: 2.5rem;
    margin-top: 2rem;
  } 

  // .flat-button {
  //   color: var(--orange);
  //   font-size: 13px;
  //   font-weight: 400;
  //   letter-spacing: 4px;
  //   font-family: sans-serif;
  //   text-decoration: none;
  //   padding: 10px 18px;
  //   border: 1px solid var(--orange);
  //   margin-top: 25px;
  //   float: left;
  //   animation: fadeInAnimation 1s 1.8s backwards;
  //   white-space: nowrap;

  //   &:hover {
  //     background: var(--orange);
  //     color: #333;
  //   }
  // }
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  // .i-right {
  //   transform: scale(0.8);
  //   left: -3rem;
  // }

}


